@{
  ViewData["Title"] = "My Team";
}

<div class="text-center">
  <h1 class="display-4">My Team</h1>
  @*<ul class="list-inline">
      <li><a asp-controller="Home" asp-action="Transcript" asp-route-userId="100002" asp-route-fullname="Emma Edison">Emma Edison</a></li>
      <li><a asp-controller="Home" asp-action="Transcript" asp-route-userId="100003" asp-route-fullname="Steven Martinson">Steven Martinson</a></li>
    </ul>*@
<div class="row">
    <div class="card" style="width: 18rem;">
        <div class="card-img-top align-items-center">
            <img src="https://c516.sumtotaldemo.net/Core/DataStore/C516_PROD/Common/PersonImages/02c2d9ca524b472ebf2f6417308f0782.png" class="rounded-circle" style="height:120px" alt="Lester Fisher" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Lester Fisher</h5>
            <p class="card-text">Lead Animator<br />lesterf@ubisoft.com</p>
            <a asp-controller="Home" asp-action="Transcript" asp-route-userId="100110" asp-route-fullname="Lester Fisher" class="btn btn-primary">Training Transcripts</a>
        </div>
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-img-top align-items-center">
            <img src="https://c516.sumtotaldemo.net/Core/DataStore/C516_PROD/Common/PersonImages/b061a4d7679b4c958bb317ed5071b64a.png" class="rounded-circle" style="height:120px" alt="Leo Bolden" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Leo Bolden</h5>
            <p class="card-text">Game Designer<br />lbolden@ubisoft.com</p>
            <a asp-controller="Home" asp-action="Transcript" asp-route-userId="100034" asp-route-fullname="Leo Bolden" class="btn btn-primary">Training Transcripts</a>
        </div>
    </div>

    @*
        <div class="card" style="width: 18rem;">
          <div class="card-img-top align-items-center">
            <img class="rounded-circle" style="height:120px" src="https://c412.sumtotaldemo.net/Core/DataStore/C412_PROD/Common/PersonImages/5GIRTNEUPQJ2DCG01GKV7K6V.png" alt="Emma Edision">
          </div>
          <div class="card-body">
            <h5 class="card-title">Emma Edison</h5>
            <p class="card-text">Account Executive<br />eedison@organization.com</p>
            <a asp-controller="Home" asp-action="Transcript" asp-route-userId="100002" asp-route-fullname="Emma Edison" class="btn btn-primary">Training Transcripts</a>
          </div>
        </div>
        <div class="col-md-1">
          &nbsp;
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-img-top align-items-center">
            <img class="rounded-circle" style="height:120px" src="https://c412.sumtotaldemo.net/Core/DataStore/C412_PROD/Common/PersonImages/P4IUSGF1SSUTM8001GKV7K6V.png" alt="Steven Martinson">
          </div>
          <div class="card-body">
            <h5 class="card-title">Steven Martinson</h5>
            <p class="card-text">Account Executive<br />SMartison@organization.com</p>
            <a asp-controller="Home" asp-action="Transcript" asp-route-userId="100003" asp-route-fullname="Steven Martinson" class="btn btn-primary">Training Transcripts</a>
          </div>
        </div>
    *@
</div>
