@{
    ViewData["Title"] = "My Team";
}

<div class="text-center">
    <h1 class="display-4">My Team</h1>
    <ul class="list-inline">
      <li><a asp-controller="Home" asp-action="Transcript" asp-route-userId="100002">Emma Edison</a></li>
      <li><a asp-controller="Home" asp-action="Transcript" asp-route-userId="100003">Steven Martinson</a></li>
    </ul>
</div>
